!!! 5
html
  head
    title Subway
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap.min')
    != css('subway')
    != css('subway-mobile')

    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='https://cdn.firebase.com/v0/firebase-simple-login.js')
    script
      var ENV = '#{env}',
          PORT = #{port};
    script(src='/socket.io/socket.io.js')
    != js('client')
    != js('firebase')
    include templates
  body
    block content
